@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Product", "Index", "Product", null, new { @class = "btn btn-primary" })

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Order", "Index", "Order", null, new { @class = "btn btn-success" })

    @if (User.IsInRole("Manager"))
    {
        @Html.ActionLink("Supplier", "Index", "Supplier", null, new { @class = "btn btn-secondary" })
        @Html.ActionLink("Manage Users", "Index", "RoleAdmin", null, new { @class = "btn btn-info" })
    }

}

